<nav class="navbar navbar-expand-lg navbar-light py-3 py-md-7 border-bottom border-primary border-3">
    <div class="container flex-nowrap">
    <!--   左上品牌LOGO   -->
        <a class="navbar-brand d-flex align-items-center me-lg-11 align-middle py-0" href="index.html"><img class="me-0 me-md-3" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/logo.png" alt="logo"><h1 class="h2 mb-0 me-1 d-none d-md-flex">7TAO </h1><span class="h6 mb-0 d-none d-md-flex">活動訂票網</span></a>
        <!-- 搜尋框 -->
        <form class="d-flex">
            <input class="form-control border border-2 border-dark py-lg-5 ps-lg-7 noto-tc-sans" type="search" placeholder="探索活動" aria-label="Search">
            <button class="btn btn-dark text-secondary px-3 px-md-5 me-7 me-md-0" type="submit"><i class="icofont-search-1"></i></button>
        </form>
        <!--   手機漢堡選單圖示   -->
        <button class="navbar-toggler border-2 border-primary rounded-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--  右邊選單主體 -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <!--    手機板標題      -->
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">7TAO 活動訂票網</h5>
                <!--    關閉按鈕      -->
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <!--   選單內容     -->
            <div class="offcanvas-body nav-items">
                <ul class="navbar-nav justify-content-end flex-grow-1">
                    <li class="nav-item me-2">
                        <a class="nav-link link-primary" aria-current="page" href="#"><i class="icofont-ui-file me-1"></i>REGISTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-primary" href="login.html"><i class="icofont-ui-user me-1"></i>LOGIN</a>
                    </li>
                </ul>
            </div>

      </div>
    </div>
</nav>