.sort-item img{
  width: 40px;
  height: 40px;
  @media (min-width: 992px){
    width: 80px;
    height: 80px;
  }
}
.recent-icon img{
  width: 24px;
  height: 24px;
}
.recent-img{
  width: 100%;
  height: 255px;
  object-fit: cover;
}
.index-online-event{
  background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/online.jpg');
  background-position: 50% 45%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 317px;
  @media (min-width: 992px){
    height: 100%;
  }
}
// 滾動條
.swiper{
  background-color: #000;
}
.swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-slide {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 3.2px;
  width: auto;
  color: $secondary;
  background: $black;
}
// 活動錦集
.h2-transform {
  transform: translate(-50%, -50%) rotate(-4deg);
}
.event-rotate{
  li {
    &:nth-child(2n) {
      transform:  rotate(1deg)
    }
    &:nth-child(3) {
      transform:  rotate(-1deg)
    }
    @media (min-width: 992px){
      &:nth-child(2n) {
        transform:  rotate(2deg)
      }
      &:nth-child(3) {
        transform:  rotate(-2deg)
      }
    }
  }
  p{
    font-size: 18px;
  }
}
.item {
  img {
    object-fit: cover;
    height: 274px;
  }
}