<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7TAO 活動訂票網</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!--大圖活動輪播區 -start -->
    <div class="container">
      <div class="mt-8">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <!-- 圖片區 -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/13.jpg" class="d-block w-100" alt="event">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="noto-tc-serif h4 mb-5">隔牆有耳-沒有草東的派對</h5>
                <p class="noto-tc-sans">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
                  帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/13.jpg" class="d-block w-100" alt="event">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="noto-tc-serif h4 mb-5">Second slide label</h5>
                <p class="noto-tc-sans">Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/13.jpg" class="d-block w-100" alt="event">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="noto-tc-serif h4 mb-5">Third slide label</h5>
                <p class="noto-tc-sans">Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <!-- 切換按鈕 -->
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <!--大圖活動輪播區 -end -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
